# Build & VS
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.cache
*.log

# Config/Artefacts
launchSettings.json
TestResult*/
Generated\ Files/

# Packages
packages/

# Publish / temp
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
[Tt]emp/
